.cursor-pointer{
  cursor: pointer;
}

/* gap */
.column-gap-1{
  column-gap : .5rem;
}
.column-gap-2{
  column-gap : 1rem;
}
.column-gap-3{
  column-gap : 1.5rem;
}

@media (max-width: 1024px) {
  body.sidebar-gone .main-sidebar {
    left: -260px;
  }

  body:not(.sidebar-gone) .main-sidebar {
    left: 0;
  }
}
